// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';
@import 'loaders';
@import 'scroll';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/dist/css/adminlte.css';
@import '~font-awesome/scss/font-awesome';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css';
//@import '~datatables.net-dt/css/jquery.dataTables.css';
//// 
@import 'tablas';

.main-sidebar{
    z-index: 1000;
}
//Modal
.modal-height-responsive {
    max-height: calc(100vh - 120px);
    overflow: auto;
}
//Erros
.errors_message{
        color: #c33232;
        font-size: 0.9em;
}




